# Docker
HOST_USER=user
HOST_USER_ID=1000
HOST_GROUP=user
HOST_GROUP_ID=1000
TIMEZONE=Europe/Madrid

# Mongo
MONGO_DB_PATH=./data/mongo/db
MONGO_CONFIG_PATH=./data/mongo/config

# RabbitMQ
RABBITMQ_DATA_PATH=./data/rabbitmq/data
