<app-book-dialog [(visible)]="bookSelectorVisible" (selected)="onSelectBook($event)" />

<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="flex flex-column surface-section mx-6 hall min-vh-80">
    <div class="flex flex-column p-4">
      <span class="hall-icon text-teal-600">
        <i class="fas fa-box-open"></i>
      </span>
      <span class="watermark text-teal-600">
        <i class="fas fa-box-open"></i>
      </span>
      <div class="flex flex-row gap-3 justify-content-between">
        <div class="flex flex-column gap-2">
          <div class="flex">
            <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="homeBreadcrumb" />
          </div>
        </div>
        <div class="flex flex-row gap-2 align-items-center">
          <p-button [outlined]="true"
                    severity="success"
                    icon="fas fa-pen"
                    label="Guardar"
                    size="small"
                    type="submit" />
          <p-button [text]="true"
                    severity="secondary"
                    icon="fas fa-xmark"
                    label="Salir"
                    size="small"
                    type="button"
                    [routerLink]="['/purchases', purchase().id]" />
        </div>
      </div>
    </div>
    <div class="flex-1 p-4 flex flex-column gap-4">
      <div class="grid align-content-start gap-2">
        <div class="col-12 lg:col-4 flex flex-column gap-2 mb-3" formGroupName="provider">
          <label for="purchase-provider" class="text-teal-600 pl-3">Proveedor</label>
          <input pInputText id="purchase-provider" [readonly]="true" formControlName="name" />
        </div>
        <div class="col-12 lg:col-4 flex flex-column gap-2 mb-3">
          <label for="purchase-date" class="text-teal-600 pl-3">Fecha</label>
          <p-date-picker showIcon
                         inputId="purchase-date"
                         iconDisplay="input"
                         [maxDate]="maxDate"
                         formControlName="purchasedAt" />
          <p-message severity="error" text="La fecha es obligatoria"
                     [hidden]="!hasError('purchasedAt', 'required')" />
        </div>
        <div class="col-12 lg:col-3 flex flex-column gap-2 mb-3" formGroupName="invoice">
          <label for="purchase-number" class="text-teal-600 pl-3">Número de entrada</label>
          <input pInputText
                 id="purchase-number"
                 autocomplete="off"
                 formControlName="number" />
          <p-message severity="error" text="El número de entrada es obligatorio"
                     [hidden]="!hasError('invoice.number', 'empty')" />
        </div>
      </div>
      <div class="grid align-content-start gap-2">
        <div class="w-full min-vh-40" formArrayName="lines">
          <p-table [value]="lines.controls" stripedRows>
            <ng-template pTemplate="header">
              <tr>
                <th class="border-bottom-3 border-teal-600 text-center w-2">Cantidad</th>
                <th class="border-bottom-3 border-teal-600 w-4">Libro</th>
                <th class="border-bottom-3 border-teal-600 text-center w-2">Precio</th>
                <th class="border-bottom-3 border-teal-600 text-center w-1">Descuento</th>
                <th class="border-bottom-3 border-teal-600 text-center w-2">Total</th>
                <th class="border-bottom-3 border-teal-600 w-auto"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex">
              <tr [formGroupName]="i">
                <td>
                  <p-input-number formControlName="quantity"
                                  mode="decimal"
                                  [min]="0"
                                  [minFractionDigits]="0"
                                  [maxFractionDigits]="2"
                                  inputStyleClass="text-right pr-7"
                                  [showButtons]="true"
                                  [fluid]="true" />
                </td>
                <td formGroupName="book">
                  <input type="hidden" formControlName="id" />
                  <p-inputgroup>
                    <input pInputText
                           [readonly]="true"
                           (keydown)="onBookKeydown($event, i)"
                           formControlName="title"
                           class="w-full" />
                    <p-inputgroup-addon>
                      <p-button (click)="onSelectClicked(i)"
                                [tabindex]="-1"
                                icon="fas fa-binoculars" severity="primary" variant="text"
                                pTooltip="Seleccionar libro [ / ]" tooltipPosition="top" />
                    </p-inputgroup-addon>
                  </p-inputgroup>
                  <p-message severity="error" text="El libro es obligatorio"
                             [hidden]="!hasArrayError(lines, i,'book.id', 'empty')" />
                </td>
                <td>
                  <p-input-number formControlName="unitPrice"
                                  mode="decimal"
                                  [min]="0"
                                  [minFractionDigits]="2"
                                  [maxFractionDigits]="2"
                                  inputStyleClass="text-right"
                                  [fluid]="true" />
                </td>
                <td>
                  <p-input-number formControlName="discountPercentage"
                                  mode="decimal"
                                  [min]="0"
                                  [minFractionDigits]="2"
                                  [maxFractionDigits]="2"
                                  inputStyleClass="text-right"
                                  [fluid]="true" />
                </td>
                <td>
                  <p-input-number formControlName="total"
                                  mode="decimal"
                                  [min]="0"
                                  [minFractionDigits]="2"
                                  [maxFractionDigits]="2"
                                  inputStyleClass="text-right"
                                  [fluid]="true" />
                </td>
                <td class="text-center">
                  <p-button (click)="onRemoveLine(i)"
                            [text]="true"
                            [tabindex]="-1"
                            severity="danger" icon="fas fa-xmark" size="small" />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [colSpan]="6" class="text-center text-xl h-40vh">No hay entradas</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="6">
                  <div class="flex flex-row gap-2 justify-content-end">
                    <p-button [text]="true"
                              severity="success"
                              icon="fas fa-plus"
                              label="Añadir línea"
                              size="small"
                              type="button"
                              (click)="onAddLine()" />
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <p-message severity="error" text="No puede haber una entrada sin líneas"
                   [hidden]="!hasError('lines', 'empty')" />
      </div>
      <div class="grid justify-content-end gap-2 pt-2" formGroupName="invoice">
        <div class="col-12 lg:col-3 flex flex-column align-items-end gap-2 mb-3">
          <label for="purchase-amount" class="text-teal-600 pr-3">Subtotal</label>
          <div>
            <p-input-number inputId="purchase-amount"
                            inputStyleClass="text-right"
                            mode="decimal"
                            class="w-6"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            formControlName="amount" />
          </div>
        </div>
        <div class="col-12 lg:col-4 flex flex-column align-items-end gap-2 mb-3">
          <label for="purchase-taxes" class="text-teal-600 pr-3">Impuestos</label>
          <div>
            <p-input-number inputId="purchase-taxes"
                            inputStyleClass="text-right"
                            mode="decimal"
                            class="w-6"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            formControlName="taxes" />
          </div>
        </div>
        <div class="col-12 lg:col-4 flex flex-column align-items-end gap-2 mb-3">
          <label for="purchase-total" class="text-teal-600 pr-3">Total</label>
          <div>
            <p-input-number inputId="purchase-total"
                            inputStyleClass="text-right"
                            mode="decimal"
                            class="w-6"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            suffix=" €"
                            formControlName="total" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
