@import "primeicons/primeicons.css";
@import "assets/less/container.less";
@import "assets/less/list.less";
@import "assets/less/hall.less";
@import "assets/less/drawer-fix.less";
@import "assets/less/tab-selector.less";

html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter var';
  src: url('../public/fonts/Inter-roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// Generic
.h-40vh {
  height: 40vh;
}
.h-30vh {
  height: 30vh;
}
.no-resize {
  resize: none;
}

[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
}
