<p-confirmDialog />
<div class="flex flex-column surface-section mx-6 hall min-vh-80">
  <div class="flex flex-column p-4">
    <span class="hall-icon text-teal-600">
      <i class="fas fa-box-open"></i>
    </span>
    <span class="watermark text-teal-600">
      <i class="fas fa-box-open"></i>
    </span>
    <div class="flex flex-row gap-3 justify-content-between">
      <div class="flex flex-column gap-2">
        <div class="flex">
          <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="homeBreadcrumb" />
        </div>
        <small>Editado {{ purchase().lastDate | dateAgo }} por <strong>{{ purchase().lastUser }}</strong></small>
      </div>
      <div class="flex flex-row gap-2 align-items-center">
        <p-button [text]="true"
                  severity="danger"
                  icon="fas fa-trash"
                  label="Eliminar"
                  size="small"
                  (click)="onDelete($event)" />
        <p-button [outlined]="true"
                  severity="info"
                  icon="fas fa-pen"
                  label="Editar"
                  size="small"
                  [routerLink]="['/purchases/edit', purchase().id]" />
        <p-button [text]="true"
                  severity="secondary"
                  icon="fas fa-xmark"
                  label="Salir"
                  size="small"
                  [routerLink]="['/purchases']" />
      </div>
    </div>
  </div>
  <div class="flex-1 p-4">
    <p-tabs value="detail" class="tab-selector">
      <p-tablist>
        <p-tab value="detail" class="flex align-items-center gap-2">
          <i class="fas fa-circle-info"></i>
          <span>Detalle</span>
        </p-tab>
        <p-tab value="lines" class="flex align-items-center gap-2">
          <i class="fas fa-basket-shopping"></i>
          <span>Compras</span>
        </p-tab>
        <p-tab value="data" class="flex align-items-center gap-2">
          <i class="fas fa-user-clock"></i>
          <span>Datos</span>
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="detail">
          <h3 class="flex flex-row gap-2 text-teal-400 text-2xl">
            <fa-icon icon="circle-info" />
            <span>Detalle</span>
          </h3>
          <div class="col-12 grid align-content-start">
            <div class="col-12 lg:col-6 flex flex-column gap-2 mb-3">
              <span class="text-base font-bold text-teal-600">Proveedor</span>
              <div>
                <a class="text-lg text-indigo-600 hover:underline"
                   [routerLink]="['/providers', purchase().provider.id]">
                  {{ purchase().provider.name }}
                </a>
              </div>
            </div>
            <div class="col-12 lg:col-6 flex flex-column gap-2 mb-3">
              <span class="text-base font-bold text-teal-600">Fecha</span>
              <span class="text-lg">{{ purchase().purchasedAt | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div class="col-12 lg:col-6 flex flex-column gap-2 mb-3">
              <span class="text-base font-bold text-teal-600">Número</span>
              <app-btn-copy title="Número de entrada" [text]="purchase().invoice.number">
                <span class="text-lg">{{ purchase().invoice.number }}</span>
              </app-btn-copy>
            </div>
          </div>
          <p-divider />
          <div class="col-12 grid align-content-start">
            <div class="col-12 lg:col-6 flex flex-column gap-2 mb-3">
              <span class="text-base font-bold text-teal-600">Subtotal</span>
              <span class="text-lg">{{ purchase().invoice.amount | number: '1.2-2' }}</span>
            </div>
            <div class="col-12 lg:col-6 flex flex-column gap-2 mb-3">
              <span class="text-base font-bold text-teal-600">Impuestos</span>
              <span class="text-lg">{{ purchase().invoice.taxes | number: '1.2-2' }}</span>
            </div>
            <div class="col-12 lg:col-6 flex flex-column gap-2 mb-3">
              <span class="text-base font-bold text-teal-600">Total</span>
              <span class="text-lg">{{ purchase().invoice.total | currency: 'EUR' }}</span>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="lines">
          <h3 class="flex flex-row gap-2 text-teal-400 text-2xl">
            <fa-icon icon="basket-shopping" />
            <span>Compras</span>
          </h3>
          <p-table [value]="purchase().lines"
                   [tableStyle]="{ 'min-width': '100%' }"
                   styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
              <tr>
                <th class="border-bottom-3 border-teal-600 text-center">Cantidad</th>
                <th class="border-bottom-3 border-teal-600">Libro</th>
                <th class="border-bottom-3 border-teal-600 text-center">Precio</th>
                <th class="border-bottom-3 border-teal-600 text-center">Descuento</th>
                <th class="border-bottom-3 border-teal-600 text-center">Total</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td class="text-right">{{ line.quantity | number: '1.0-0' }}</td>
                <td>
                  <a class="text-primary hover:underline"
                     [routerLink]="['/books', line.book.id]">
                    {{ line.book.title }}
                  </a>
                </td>
                <td class="text-right">{{ line.unitPrice | number: '1.2-2' }}</td>
                <td class="text-right">{{ line.discountPercentage | number: '1.0-2' }}</td>
                <td class="text-right">{{ line.total | number: '1.2-2' }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [colSpan]="5">No hay entradas</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabpanel>
        <p-tabpanel value="data">
          <h3 class="flex flex-row gap-2 text-teal-400 text-2xl">
            <fa-icon icon="user-clock" />
            <span>Usuarios y fechas</span>
          </h3>
          <div class="col-12">
            <app-tracking-section [entity]="purchase()" color="text-teal-600" />
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
