[run]
branch = True
source =
    src
omit =
    tests/*
    */__pycache__/*
    */__init__.py
    */main.py
    */config.py

[report]
show_missing = True
skip_covered = False
omit =
    tests/*
    */__pycache__/*
exclude_also =
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    raise NotImplementedError
    pragma: no cover
