DATABASE_URL=mongodb://mongo:27017
DATABASE_NAME=library

RABBITMQ_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages
RABBITMQ_EXCHANGE=library
RABBITMQ_QUEUE=library

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini-2024-07-18
