<app-customer-dialog [(visible)]="customerSelectorVisible" (selected)="onSelectCustomer($event)" />
<app-book-dialog [(visible)]="bookSelectorVisible" [saleable]="true" (selected)="onSelectBook($event)" />

<form [formGroup]="form" (ngSubmit)="onCreate()">
  <div class="flex flex-column surface-section mx-6 hall min-vh-80">
    <div class="col-12 p-4 flex flex-column">
      <span class="hall-icon text-600">
        <i class="fas fa-briefcase"></i>
      </span>
      <span class="watermark text-600">
        <i class="fas fa-briefcase"></i>
      </span>
      <div class="flex flex-row gap-3 justify-content-between">
        <div class="flex flex-column gap-2">
          <div class="flex">
            <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="homeBreadcrumb" />
          </div>
        </div>
        <div class="flex flex-row gap-2 align-items-center">
          <p-button [text]="true"
                    severity="secondary"
                    icon="fas fa-xmark"
                    label="Salir"
                    size="small"
                    [routerLink]="['/borrows']" />
        </div>
      </div>
    </div>
    <div class="col-12 flex flex-column gap-4 px-6 py-4">
      <div class="flex-1 p-4 flex flex-column gap-4">
        <div class="grid align-content-start">
          <div class="col-12 lg:col-4 flex flex-column gap-2 mb-3" formGroupName="customer">
            <label for="sale-customer" class="text-600 pl-3">Cliente</label>
            <input type="hidden" formControlName="id" />
            <p-inputgroup>
              <input pInputText id="sale-customer"
                     (keydown)="onCustomerKeydown($event)"
                     [readonly]="true"
                     formControlName="fullName" />
              <p-inputgroup-addon>
                <p-button (click)="customerSelectorVisible.set(true)"
                          [tabindex]="-1"
                          icon="fas fa-binoculars" severity="primary" variant="text"
                          pTooltip="Seleccionar cliente [ / ]" tooltipPosition="top" />
              </p-inputgroup-addon>
            </p-inputgroup>
            <p-message severity="error" text="El cliente es obligatorio"
                       [hidden]="!hasError('customer.id', 'empty')" />
          </div>
          <div class="col-12 lg:col-2 flex flex-column gap-2 mb-3" formGroupName="customer">
            <label for="sale-customer-number" class="text-600 pl-3">Número de socio</label>
            <input pInputText id="sale-customer-number"
                   (keydown)="onCustomerKeydown($event)"
                   [readonly]="true"
                   formControlName="number" />
          </div>
          <div class="col-12 lg:col-3 flex flex-column gap-2 mb-3 align-items-center">
            <div class="flex flex-column gap-2">
              <label for="sale-date" class="text-600 pl-3">Fecha</label>
              <input pInputText id="sale-date"
                     [value]="today"
                     [readonly]="true" />
            </div>
          </div>
          <div class="col-12 lg:col-3 flex flex-column gap-2 mb-3">
            <label for="sale-number" class="text-600 pl-3">Número</label>
            <input pInputText
                   id="sale-number"
                   autocomplete="off"
                   [value]="sequenceNumber()"
                   [readonly]="true" />
            <small id="sale-number-help">El número más probable que se asignará automáticamente una vez creado.</small>
          </div>
        </div>
        <div class="grid align-content-start gap-2">
          <div class="w-full min-vh-40" formArrayName="lines">
            <p-table [value]="lines.controls" stripedRows>
              <ng-template pTemplate="header">
                <tr>
                  <th class="border-bottom-3 border-600 w-4">Libro</th>
                  <th class="border-bottom-3 border-600 w-2">ISBN</th>
                  <th class="border-bottom-3 border-600 w-2">Autor</th>
                  <th class="border-bottom-3 border-600 w-2">Editorial</th>
                  <th class="border-bottom-3 border-600 w-1">Stock</th>
                  <th class="border-bottom-3 border-600 w-auto"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-i="rowIndex">
                <tr [formGroupName]="i">
                  <td formGroupName="book">
                    <input type="hidden" formControlName="id" />
                    <p-inputgroup>
                      <input pInputText
                             [readonly]="true"
                             (keydown)="onBookKeydown($event, i)"
                             formControlName="title"
                             class="w-full" />
                      <p-inputgroup-addon>
                        <p-button (click)="onSelectClicked(i)"
                                  [tabindex]="-1"
                                  icon="fas fa-binoculars" severity="primary" variant="text"
                                  pTooltip="Seleccionar libro [ / ]" tooltipPosition="top" />
                      </p-inputgroup-addon>
                    </p-inputgroup>
                    <p-message severity="error" text="El libro es obligatorio"
                               [hidden]="!hasArrayError(lines, i,'book.id', 'empty')" />
                    <p-message severity="error" text="El libro no esta disponible"
                               [hidden]="!hasArrayError(lines, i,'book.available', 'unavailable')" />
                  </td>
                  <td formGroupName="book">
                    <input pInputText
                           [readonly]="true"
                           formControlName="isbn"
                           class="w-full" />
                  </td>
                  <td formGroupName="book">
                    <input pInputText
                           [readonly]="true"
                           formControlName="author"
                           class="w-full" />
                  </td>
                  <td formGroupName="book">
                    <input pInputText
                           [readonly]="true"
                           formControlName="editorial"
                           class="w-full" />
                  </td>
                  <td formGroupName="book">
                    <input pInputText
                           [readonly]="true"
                           formControlName="stock"
                           class="w-full text-right" />
                  </td>
                  <td class="text-center">
                    <p-button (click)="onRemoveLine(i)"
                              [text]="true"
                              [tabindex]="-1"
                              severity="danger" icon="fas fa-xmark" size="small" />
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [colSpan]="6" class="text-center text-xl h-30vh">No se han seleccionado libros</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="6">
                    <div class="flex flex-row gap-2 justify-content-end">
                      <p-button [text]="true"
                                severity="success"
                                icon="fas fa-plus"
                                label="Añadir línea"
                                size="small"
                                type="button"
                                (click)="onAddLine()" />
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <p-message severity="error" text="No puede haber una prestamo sin libros"
                     [hidden]="!hasError('lines', 'empty')" />
        </div>
        <div class="grid justify-content-end pt-2">
          <div class="col-12 lg:col-3 flex flex-column gap-2 mb-3">
            <label for="borrow-due-date" class="text-600 pr-3">Fecha de devolución</label>
            <input pInputText id="borrow-due-date"
                   [value]="dueDate"
                   [readonly]="true" />
          </div>
          <div class="col-12 lg:col-3 flex flex-column gap-2 mb-3">
            <label for="borrow-due-date" class="text-600 pr-3">Total de libros</label>
            <input pInputText id="borrow-total-books"
                   class="text-right"
                   [value]="totalBooks()"
                   [readonly]="true" />
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-4 justify-content-end">
        <p-button type="submit"
                  size="small">
          <fa-icon [icon]="['fas', 'save']"></fa-icon>
          <span class="ml-2 font-bold">Crear Préstamo</span>
        </p-button>
      </div>
    </div>
  </div>
</form>
