.p-tabs.tab-selector {
  flex-direction: row;
  gap: 1rem;
}

.p-tabs.tab-selector .p-tablist {
  width: 25%;
}

.p-tabs.tab-selector .p-tablist-tab-list {
  flex-direction: column;
}

.p-tabs.tab-selector .p-tabpanels {
  width: 74%;
}
